.page-content {
  padding: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(90deg, #FF8C00, #FFA500);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 55px;
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.navbar-search {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #FFA500;
  }
  